name: example
recipe: wordpress
proxy:                
  appserver_nginx:
    - example.lndo.site
config:
  php: '7.3'
  via: nginx
  webroot: web
  database: mariadb
  xdebug: true
events:
  post-start:
    - appserver: composer update
